<html>
    <head>
        <title>Sayur Tech</title>
        <style>
            h1 {
                color:blue;
                font-family: 'Lucida Sans';
            }
            h3 {
                color:red;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <script>
            $(document).ready(function(){

                $("#btnClickMe").click(function(e){
                    var name = $("#txtName").val();
                    alert('Hello ' + name);
                });

                $("#btnGreetMe").click(function(e){

                });

                $("#btnDouble").click(function(e){
                var num = $("#txtNum").val();
                var double_url = 'http://127.0.0.1:5000/double/' + num;
                $.ajax({
                    url: double_url,
                    success: function(r){
                        $("#lblResult").text(r);
                    },
                    error: function(r){
                        $("#lblResult").text('Invalid number');
                    }
                });
            });
            });

            

            
        </script>
    </head>
    <body>
        <h1>Index</h1>
        <p>This is a sample paragraph.</p>
        <h1>Contents</h1>
        <h3>Conclusion</h3>
        <a href="https://google.com">Google.com</a>
        <br/>
        <br></br>
        <a href="https://gmail.com">My Email</a>
        <br/>
        <label>Enter your name</label>
        <input id="txtName" type="text"></input>
        <button id="btnClickMe">Click Me</button>
        <button id="btnGreetMe">Greet Me!!</button>
        <br/>
        <label>Enter a number</label>
        <input id="txtNum" type="text"></input>
        <button id="btnDouble">Double it</button>
        <label id="lblResult"></label>
    </body>
</html>